/*tablets*/
@media only screen and (max-width: 992px) {
    #error-template-btn{
        left:8rem;
        top:1rem;
    }
}

/*mobile phones*/
@media only screen and (max-width:767px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
    #error-template-btn{
        left:5rem;
        top:1rem;
    }
    .navbar-toggle {
        margin-right: 3rem;
    }
}