<!-- *****************************************************************************************************************
	 BLUE WRAP
	 ***************************************************************************************************************** -->
<div id="blue">
    <div class="container">
        <div class="row">
            <h3 class="animated fadeInDown">Create new project</h3>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /blue -->

<!-- *****************************************************************************************************************
 TITLE & CONTENT
 ***************************************************************************************************************** -->

<div class="animated zoomIn" ng-controller="CreateProjectController as vm">
    <div class="row">
        <div class="col-md-6">
            <div class="column">
                <div id="svg-container">

                    <svg id="svg" class="outer" width="100%" height="100%" viewBox="0 0 800 600">

                    </svg>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <form class="sky-form">
                <fieldset>
                    <section>
                        <label class="label label-default">Title *</label>
                        <label class="input">
                            <i class="icon-append fa fa-question-circle"></i>
                            <input type="text" ng-model="project.shapename">
                            <b class="tooltip tooltip-top-right">Name of your project</b>
                        </label>
                    </section>

                    <section>
                        <label class="label label-default">Shape Type *</label>
                        <label class="input">
                            <label class="radio-shape">
                                <input type="radio" name="shapeType" ng-model="project.shape_type" value="Cube">Cube</label>
                            <label class="radio-shape">
                                <input type="radio" name="shapeType" ng-model="project.shape_type" ng-value="Cuboid">Cuboid</label>
                            <label class="radio-shape">
                                <input type="radio" name="shapeType" ng-model="project.shape_type" value="Sphere">Sphere</label>
                        </label>
                    </section>

                    <section>
                        <label class="label label-default">Color *</label>
                        <label class="input">
                            <!--<i class="icon-append fa fa-question-circle"></i>-->
                            <input style="z-index: 9999;" id="cp1" type="text" ng-model="project.color"/>
                            <!--<b class="tooltip tooltip-top-right">Color for your shape in HEX</b>-->
                        </label>
                    </section>

                    <div class="row">
                        <div class="col-md-4">
                            <section>
                                <label class="label label-default">Dimension X *</label>
                                <label class="input">
                                    <!--<i class="icon-append fa fa-question-circle"></i>-->
                                    <input id="dim-x" type="number" value="50" ng-model="project.dimension_x" min="50" max="350">
                                    <!--<b class="tooltip tooltip-top-right">Dimension X for your shape</b>-->
                                </label>
                            </section>
                        </div>

                        <div class="col-md-4">
                            <section>
                                <label class="label label-default">Dimension Y *</label>
                                <label class="input">
                                    <!--<i class="icon-append fa fa-question-circle"></i>-->
                                    <input id="dim-y" type="number" value="50" ng-model="project.dimension_y" min="50" max="350">
                                    <!--<b class="tooltip tooltip-top-right">Dimension Y for your shape</b>-->
                                </label>
                            </section>
                        </div>

                        <div class="col-md-4">
                            <section>
                                <label class="label label-default">Dimension Z *</label>
                                <label class="input">
                                    <!--<i class="icon-append fa fa-question-circle"></i>-->
                                    <input id="dim-z" type="number" value="50" ng-model="project.dimension_z" min="50" max="350">
                                    <!--<b class="tooltip tooltip-top-right">Dimension Z for your shape</b>-->
                                </label>
                            </section>
                        </div>
                    </div>
                    <!--<section>-->
                        <!--<label class="label label-default">Used languages and technologies *</label>-->
                        <!--<label class="select select-multiple">-->
                            <!--<select multiple="multiple" ng-model="tags.selectedLanguagesAndTechnologies">-->
                                <!--<option value="{{option.id}}" ng-repeat="option in vm.languageAndTechnologyTags">{{option.name}}</option>-->
                            <!--</select>-->
                        <!--</label>-->
                        <!--<div class="note hidden-sm"><strong>Hint:</strong> hold down the ctrl/cmd button to select multiple options</div>-->
                    <!--</section>-->

                    <footer>
                        <button class="btn btn-theme btn-sm" ng-click="vm.submitProject(project)">Submit</button>
                    </footer>
                </fieldset>
            </form>
            <br/>

    </div><! --/row -->
</div><! --/container -->