<!-- *****************************************************************************************************************
	 BLUE WRAP
	 ***************************************************************************************************************** -->
<div id="blue">
    <div class="container">
        <div class="row">
            <h3 class="animated fadeInDown">Modify project {{vm.shape.name}}</h3>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /blue -->

<!-- *****************************************************************************************************************
 TITLE & CONTENT
 ***************************************************************************************************************** -->

<div class="animated zoomIn" ng-controller="ModifyProjectController as vm">
    <div class="row">
        <div class="col-md-6">
            <div class="column">
                <div id="svg-container">

                    <svg id="svg" class="outer" width="100%" height="100%" viewBox="0 0 800 600">

                    </svg>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <form class="sky-form">
                <fieldset>
                    <section>
                        <label class="label label-default" style="text-align: center;">  Color *</label>
                        <label class="input">
                            <!--<i class="icon-append fa fa-question-circle"></i>-->
                            <input style="z-index: 9999;" id="cp1" type="text" ng-model="project.color"/>
                            <!--<b class="tooltip tooltip-top-right">Color for your shape in HEX</b>-->
                        </label>
                    </section>

                    <div class="row">
                        <div class="col-md-4">
                            <section>
                                <label class="label label-default" style="text-align: center;">  Dimension X *</label>
                                <label class="input">
                                    <!--<i class="icon-append fa fa-question-circle"></i>-->
                                    <input id="dim-x" type="number" ng-model="project.dimension_x" min="50" max="350"">
                                    <!--<b class="tooltip tooltip-top-right">Dimension X for your shape</b>-->
                                </label>
                            </section>
                        </div>

                        <div id="dim-y-label" class="col-md-4">
                            <section>
                                <label class="label label-default" style="text-align: center;">  Dimension Y *</label>
                                <label class="input">
                                    <!--<i class="icon-append fa fa-question-circle"></i>-->
                                    <input id="dim-y" type="number" ng-model="project.dimension_y" min="50" max="350">
                                    <!--<b class="tooltip tooltip-top-right">Dimension Y for your shape</b>-->
                                </label>
                            </section>
                        </div>

                        <div id="dim-z-label" class="col-md-4">
                            <section>
                                <label class="label label-default" style="text-align: center;">  Dimension Z *</label>
                                <label class="input">
                                    <!--<i class="icon-append fa fa-question-circle"></i>-->
                                    <input id="dim-z" type="number" ng-model="project.dimension_z" min="50" max="350">
                                    <!--<b class="tooltip tooltip-top-right">Dimension Z for your shape</b>-->
                                </label>
                            </section>
                        </div>
                    </div>
                    <footer>
                        <button class="btn btn-theme btn-sm" ng-click="vm.submitProject(project)">Send Changes For Approval</button>
                    </footer>
                </fieldset>
            </form>
            <br/>
        </div>
    </div><! --/row -->
</div><! --/container -->