<!-- *****************************************************************************************************************
	 BLUE WRAP
	 ***************************************************************************************************************** -->
<div id="blue">
	<div class="container">
		<div class="row">
			<h3 class="animated fadeInDown">Projects</h3>
		</div><!-- /row -->
	</div> <!-- /container -->
</div><!-- /blue -->

<!-- *****************************************************************************************************************
 TITLE & CONTENT
 ***************************************************************************************************************** -->

<div class="container mtb">
	<div class="row">
		<div class="col-lg-12">
			<div class="col-lg-12">
				<div class="col-lg-3">
					<p>
						<input type="text" class="form-control" placeholder="Search for a project" ng-model="vm.searchString">
					</p>
				</div>
				<div class="col-lg-9">
					<div class="col-lg-4" ng-repeat="item in vm.countByCategory" ng-click="vm.selectCategory(item.name)">
						<a href="#" style="word-wrap: break-word"><i class="fa fa-angle-right"></i> {{item.name}}</a> <span class="badge badge-theme">{{item.count}}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><! --/container -->
<!-- *****************************************************************************************************************
 PORTFOLIO SECTION
 ***************************************************************************************************************** -->
<div id="container mtb portfoliowrap animated zoomIn">
	<div class="row">
		<div class="col-sm-3 project-item he-wrap tpl6 centered" ng-repeat="shape in vm.shapes | filter : {shapename: vm.searchString, status: vm.selectedCategory}">
			<div style="background-color: {{shape.color}}; opacity: 0.6;" class="portfolio-item">
					<br/>
					<p style="font-weight: bold; color: {{shape.color}}; -webkit-filter: invert(85%); filter: invert(85%);"><b>Shape type: </b> {{shape.shape_type}}</p>
					<p style="font-weight: bold; color: {{shape.color}}; -webkit-filter: invert(85%); filter: invert(85%);"><b>Dimensions: </b> x: {{shape.dimension_x}}, y: {{shape.dimension_y}}, z: {{shape.dimension_z}}</p>
					<p style="font-weight: bold;color: {{shape.color}}; -webkit-filter: invert(85%); filter: invert(85%);"><b>Last interaction: </b> {{shape.audit_info.last_edit}}</p>
					<p style="font-weight: bold; color: {{shape.color}}; -webkit-filter: invert(85%); filter: invert(85%);"><b>Progress status: </b> {{shape.status}}</p>
					<br/>
					<div class="he-view">
						<div class="bg a0" data-animate="fadeIn">
							<h3 class="a1" data-animate="fadeInDown">{{shape.status}}</h3>
							<a data-rel="prettyPhoto" href="/view/project?id={{shape._id}}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-info-circle"></i></a>
							<a href="/create?id={{shape._id}}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-pencil-square-o"></i></a>
						</div><!-- he bg -->
					</div><!-- he wrap -->
			</div><!-- end col-12 -->
		</div>
	</div><!-- portfolio container -->
</div><!--/Portfoliowrap -->
