	<!-- *****************************************************************************************************************
	 BLUE WRAP
	 ***************************************************************************************************************** -->
	<div id="blue">
	    <div class="container">
			<div class="row">
				<h3>Project Name</h3>
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /blue -->

	<!-- *****************************************************************************************************************
	 TITLE & CONTENT
	 ***************************************************************************************************************** -->

	 <div class="container mt">
	 	<div class="row">
		 	<div class="col-lg-10 col-lg-offset-1 centered">
			 	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

      <div class="col-lg-4 col-lg-offset-1">
       <div class="spacing"></div>
       <h4>Project Details</h4>
       <div class="hline"></div>
       <p><b>Last interaction: </b> vm.shape.</p>
       <p><b>Progress status: </b> {{vm.shape.status}}</p>
       <p><b>Author: </b> Marcel Newman</p>
       <p><b>Download shape: </b> <a href="http://google.com">http://google.com</a></p>
     </div>

		 	<div class="col-lg-5 col-lg-offset-1">
			 	<div class="spacing"></div>
		 		<h4>Note 1</h4>
		 		<p>Latest note: Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
		 		<h4>Note 2</h4>
		 		<p>Note: It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <br/>
        <p><a href="#" class="btn btn-theme btn-lg">Modify</a></p>
      </div>

	 	</div><! --/row -->
	 </div><! --/container -->