<!-- *****************************************************************************************************************
	 BLUE WRAP
	 ***************************************************************************************************************** -->
<div id="blue">
    <div class="container">
        <div class="row">
            <h3>Details for project {{vm.shape.name}}</h3>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /blue -->
<!-- *****************************************************************************************************************
	 TITLE & CONTENT
	 ***************************************************************************************************************** -->
<div class="container mt">
    <div class="row">
        <div class="col-sm-4">
            <div class="spacing"></div>
            <progress id="bar" class="progress progress-striped" style="display: inline-block;" value="10" max="100">{{shape.status}}</progress>
            <p><a href="/create/{{vm.shape.id}}" class="btn-user-show btn btn-theme btn-lg">Modify</a></p>
            <a href="#" id="downloadLink" ng-click="vm.downloadSvg()">Download file <i>*double click</i></a>
            <div class="btn-admin-show btn-group" data-toggle="buttons">
                <label class="btn btn-primary active">
                    <input type="radio" name="options" id="option1" value="sentW"> Sent for Manufacturing, Awaiting approval
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="options" id="option2" value="sentR"> Returned for improvements
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="options" id="option3" value="sentA"> Sent for Manufacturing, Approved
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="options" id="option4" value="manuf"> Manufactured
                </label>
            </div>
            <button class="btn-admin-show btn btn-theme btn-lg" ng-click="vm.changeStatus()">Change Status</button>
        </div>
        <div class="col-sm-8">
            <div class="spacing"></div>
            <h4>Project Details</h4>
            <div class="hline"></div>
            <div class="row">
                <div class="col-sm-6">
                    <p><b>Color: </b> <span style="color: {{'#'+ vm.shape.color}}">&#9632;</span> #{{vm.shape.color}}</p>
                    <p><b>Shape type: </b> {{vm.prettyShape.figurePretty}}</p>
                    <p><b>Project name: </b>{{vm.shape.name}}</p>
                    <p><b>Dimensions: </b> x: {{vm.shape.dimension_x}}, y: {{vm.shape.dimension_y}}, z: {{vm.shape.dimension_z}}</p>
                    <p><b>Progress status: </b> {{vm.prettyShape.statusPretty}}</p>
                    <p class="btn-admin-show"><b>Author: </b> {{vm.shape.author.email}}</p>
                    <p class="btn-admin-show"><b>Author Id: </b> {{vm.shape.author.id}}</p>
                    <p class="btn-admin-show"><b>Last interaction: </b> {{vm.prettyShape.prettyLastUpdateDate}}</p>
                    <p><b>Created: </b> {{vm.prettyShape.prettyCreateDate}}</p>
                    <p><b>Project Id: </b> {{vm.shape.id}}</p>
                    <!--<p><b>Download shape: </b> <a href="http://google.com">http://google.com</a></p>-->
                </div>
                <div class="col-sm-6">
                    <div id="svgVisualization"></div>
                </div>
            </div>
        </div>
    </div>
</div>