<!-- *****************************************************************************************************************
	 FOOTER
	 ***************************************************************************************************************** -->
<div id="footerwrap" animate="animated fadeInUpBig">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4>About</h4>
                <div class="hline-w"></div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            </div>
            <div class="col-lg-4">
                <h4>Social Links</h4>
                <div class="hline-w"></div>
                <p>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                </p>
            </div>
            <div class="col-lg-4">
                <h4>Address</h4>
                <div class="hline-w"></div>
                <p>
                    Street Something, 1,<br/>
                    1000, Sofia,<br/>
                    Bulgaria<br/>
                </p>
            </div>

        </div><! --/row -->
    </div><! --/container -->
</div><! --/footerwrap -->