<!-- *****************************************************************************************************************
	 BLUE WRAP
	 ***************************************************************************************************************** -->
<div id="blue">
    <div class="container">
        <div class="row">
            <h3>Create new project</h3>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /blue -->

<!-- *****************************************************************************************************************
 TITLE & CONTENT
 ***************************************************************************************************************** -->

<div class="container mt" ng-controller="CreateProjectController as vm">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-1">
            <form class="sky-form">
                <fieldset>
                    <section>
                        <label class="label label-default">Title *</label>
                        <label class="input">
                            <i class="icon-append fa fa-question-circle"></i>
                            <input type="text" ng-model="project.shapename">
                            <b class="tooltip tooltip-top-right">Name of your project</b>
                        </label>
                    </section>

                    <section>
                        <label class="label label-default">Shape Type *</label>
                        <label class="input">
                            <i class="icon-append fa fa-question-circle"></i>
                            <input type="text" ng-model="project.shape_type">
                            <b class="tooltip tooltip-top-right">Choose shape: square, polygon, circle </b>
                        </label>
                    </section>

                    <section>
                        <label class="label label-default">Color *</label>
                        <label class="input">
                            <i class="icon-append fa fa-question-circle"></i>
                            <input type="text" ng-model="project.color">
                            <b class="tooltip tooltip-top-right">Color for your shape in HEX</b>
                        </label>
                    </section>

                    <section>
                        <label class="label label-default">Dimension X *</label>
                        <label class="input">
                            <i class="icon-append fa fa-question-circle"></i>
                            <input type="text" ng-model="project.dimension_x">
                            <b class="tooltip tooltip-top-right">Dimension X for your shape</b>
                        </label>
                    </section>

                    <section>
                        <label class="label label-default">Dimension Y *</label>
                        <label class="input">
                            <i class="icon-append fa fa-question-circle"></i>
                            <input type="text" ng-model="project.dimension_y">
                            <b class="tooltip tooltip-top-right">Dimension Y for your shape</b>
                        </label>
                    </section>

                    <section>
                        <label class="label label-default">Dimension Z *</label>
                        <label class="input">
                            <i class="icon-append fa fa-question-circle"></i>
                            <input type="text" ng-model="project.dimension_z">
                            <b class="tooltip tooltip-top-right">Dimension Z for your shape</b>
                        </label>
                    </section>


                    <!--<section>-->
                        <!--<label class="label label-default">Used languages and technologies *</label>-->
                        <!--<label class="select select-multiple">-->
                            <!--<select multiple="multiple" ng-model="tags.selectedLanguagesAndTechnologies">-->
                                <!--<option value="{{option.id}}" ng-repeat="option in vm.languageAndTechnologyTags">{{option.name}}</option>-->
                            <!--</select>-->
                        <!--</label>-->
                        <!--<div class="note hidden-sm"><strong>Hint:</strong> hold down the ctrl/cmd button to select multiple options</div>-->
                    <!--</section>-->

                    <footer>
                        <button class="btn btn-theme btn-sm" ng-click="vm.submitProject(project, user.id)">Submit</button>
                    </footer>
                </fieldset>
            </form>
            <br/>

    </div><! --/row -->
</div><! --/container -->