<!-- *****************************************************************************************************************
	 FOOTER
	 ***************************************************************************************************************** -->
<footer id="footerwrap" animate="animated fadeInUpBig">
    <footer class="container">
        <div class="row">
            <div class="col-lg-4 animated zoomIn">
                <h4>About</h4>
                <div class="hline-w"></div>
                <p>We help you create 3d SVG files online.</p>
            </div>
            <div class="col-lg-4 animated zoomIn">
                <h4>Social Links</h4>
                <div class="hline-w"></div>
                <p>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                </p>
            </div>
            <div class="col-lg-4 animated zoomIn">
                <h4>Address</h4>
                <div class="hline-w"></div>
                <address>
                    <span> Written by <a href="mailto:webmaster@example.com">Jon Doe</a>.<br></span>
                    <span>Visit us at: <a href="http://google.com" target="_blank">Example.com</a><br></span>
                    <span>Street Something, 1,<br></span>
                    <span>1000, Sofia,<br/></span>
                    <span>Bulgaria</span>
                </address>
        </div><! --/row -->
    </div><! --/container -->
</footer><! --/footerwrap -->