{% load compress %} {% load staticfiles %} {% compress js %}
<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/bootstrap-material-design/dist/js/material.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/bootstrap-material-design/dist/js/ripples.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/underscore/underscore.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular/angular.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-cookies/angular-cookies.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-loading-bar/build/loading-bar.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/ngDialog/js/ngDialog.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angularjs-slider/dist/rzslider.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/snackbarjs/snackbar.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/toastr/toastr.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/tooltip/dist/tooltip.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/Snap.svg/dist/snap.svg-min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/es6-shim/es6-shim.min.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/app.js' %}"></script>
<!--<script type="text/javascript" src="{% static 'javascripts/pando-3d.config.js' %}"></script>-->
<!--<script type="text/javascript" src="{% static 'javascripts/pando-3d.routes.js' %}"></script>-->
<script type="text/javascript" src="{% static 'javascripts/custom/custom.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/custom/jquery.hoverdir.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/custom/jquery.hoverex.min.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/custom/jquery.isotope.min.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/custom/jquery.prettyPhoto.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/custom/retina-1.1.0.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/custom/raphael.min.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/common/common.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/common/notifier.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/common/base-data.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/custom/svg.min.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/custom/jscolor.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/authentication.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/services/authentication.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/controllers/register.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/controllers/login.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/layout.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/controllers/admin.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/controllers/navbar.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/controllers/projects.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/controllers/single-project.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/controllers/create-project.controller.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/layout/services/projects.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/services/shapes-data.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/services/single-shape-data.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/mock-shapes.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/mock-single-shape.js' %}"></script>
{% endcompress %}
