<!-- *****************************************************************************************************************
	 HEADERWRAP
	 ***************************************************************************************************************** -->
<div id="headerwrap">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h3 class="animated fadeInDown">You want to make 3d model of your product just for 3 seconds - we are faster than The Flash</h3>
            <h1 class="animated fadeInDown">Pando - 3D</h1>
            <h2 class="animated fadeInDown">Because we know how to do it right</h2>
        </div>
    </div><!-- /row -->
</div><!-- /headerwrap -->

<!-- *****************************************************************************************************************
 SERVICE LOGOS
 ***************************************************************************************************************** -->
<div id="service">
    <div class="container">
        <div class="row">
            <div class="col-md-6 animated zoomIn">
                <i class="fa fa-heart-o"></i>
                <h4>Discover the potential of SVG</h4>
                <p>Imagine you could embed an image in a web page, scale that page to any size, and never lose image quality. Well, you can. It’s totally possible, we just haven’t been doing it as much as we should.</p>
                <p><br/><a href="http://www.webdesignerdepot.com/2015/01/the-ultimate-guide-to-svg/" target="_blank" class="btn btn-theme">Go to article</a></p>
            </div>
            <div class="col-md-6 animated zoomIn">
                <i class="fa fa-flask"></i>
                <h4>Why use SVG?</h4>
                <p>SVG is a file format that enables two-dimensional images to be displayed in XML on the Web. The PNG’s and GIF’s that we have been used to using day in and day out are getting ever more old and dated, this is especially true when you start to look at responsive sites as we are finding ourselves doing more and more these days.</p>
                <p><br/><a href="http://creative-jar.com/blog/technology/why-use-svg/" class="btn btn-theme" target="_blank">More Info</a></p>
            </div>
        </div>
    </div><! --/container -->
</div><! --/service -->