<!-- *****************************************************************************************************************
	 HEADERWRAP
	 ***************************************************************************************************************** -->
<div id="headerwrap">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h3 class="animated fadeInDown">another title </h3>
            <h1 class="animated fadeInDown">USERNAME</h1>
        </div>
    </div><!-- /row -->
</div><!-- /headerwrap -->

<!-- *****************************************************************************************************************
 SERVICE LOGOS
 ***************************************************************************************************************** -->
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 animated zoomIn">
                <p>something something about the user</p>
                <p>user's projects</p>
            </div>
        </div>
    </div><! --/container -->
</div><! --/service -->