<div id="blue">
  <div class="container">
    <div class="row">
      <h3 class="animated fadeInDown">Register</h3>
    </div><!-- /row -->
  </div> <!-- /container -->
</div><!-- /blue -->

<div class="container animated zoomIn">
  <div class="row">
    <div class="col-md-6">
      <form class="form-horizontal" role="form" ng-submit="vm.register()">
        <fieldset>
          <div class="control-group">
            <label class="control-label" for="username">Username</label>
            <div class="controls">
              <input type="text" id="username" name="username" ng-model="vm.username" placeholder="ex. john" class="form-control input-lg">
              <p class="help-block">Username can contain any letters or numbers, without spaces</p>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="email">E-mail</label>
            <div class="controls">
              <input type="email" id="email" name="email" ng-model="vm.email" placeholder="ex. john@notgoogle.com" class="form-control input-lg">
              <p class="help-block">Please provide your E-mail</p>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="password">Password</label>
            <div class="controls">
              <input type="password" id="password" name="password" ng-model="vm.password" placeholder="ex. thisisnotgoogleplus" class="form-control input-lg">
              <p class="help-block">Password should be at least 6 characters</p>
            </div>
          </div>

          <div class="control-group">
            <!-- Button -->
            <div class="controls">
              <button class="btn btn-lg btn-theme">Register</button>
            </div>
          </div>
        </fieldset>
      </form>

    </div>
  </div>
</div>
<br/>